@using REP_CRIME._01.Common.Dto
@model CreateCrimeEventDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-antiforgery="false">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReporterEmail" class="control-label">Email</label>
                <input asp-for="ReporterEmail" class="form-control" />
                <span asp-validation-for="ReporterEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="Zip-Code"></label>
                <textarea asp-for="ZipCode" class="form-control"></textarea>
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="Street"></label>
                <textarea asp-for="Street" class="form-control"></textarea>
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="City"></label>
                <textarea asp-for="City" class="form-control"></textarea>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="Type"></label>
                <textarea asp-for="Type" class="form-control"></textarea>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
